<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MyDbConnection"
         connectionString="Persist Security Info = False; server = 127.0.0.1; database = dbmit; uid = dbMITAdmin; password = comosinCUBIERTOS9"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>